.bantuan {
    margin-bottom: 20vh;
}

.bantuan .head {
    margin-top: 80px;
    margin-bottom: 24px;
}

.bantuan .head img {
    max-height: 70px;
    max-width: 70px;
    margin-bottom: 16px;
}

.bantuan .card {
    width: 790px;
    border-radius: 4px;
}

.bantuan .card i {
    color: #2F80ED;
}

.bantuan .card img {
    max-height: 50px;
    max-width: 50px;
}

@media only screen and (max-width: 800px) {
    .bantuan .card {
        width: 400px;
    }
}
