@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

body {
    background-color: #F9FBFE;
    font-family: 'Poppins', sans-serif;
}

/* Nav Bar */
.navbar {
    padding: 20px 0px;
    box-shadow: 4px 0px 40px rgba(0, 0, 0, 0.04);
}

.navbar .navbar-nav .nav-item .active {
    color: #2F80ED;
}

.navbar .navbar-brand h2 {
    font-size: 24px;
    margin-bottom: 0px;
    color: #2F80ED;
    font-weight: 700;
}

.navbar .navbar-nav .nav-link {
    color: #97BFF6;
    transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
    color: #2F80ED;
}

/* main */

/* head main */
.dashboardProfil {
    margin-top: 80px;
}

.dashboardProfil .head .text h2 {
    font-size: 36px;
}

.dashboardProfil .head .text p {
    font-weight: 500;
    font-size: 20px;
    color: #828282;
}

.dashboardProfil .head .button .btn {
    padding: 12px 32px;
}

/* profil box main */
.dashboardProfil .profilBox {
    margin-top: 24px;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    margin-bottom: 80px;
}

.dashboardProfil .profilBox ul {
    list-style-type: none;
}

.dashboardProfil .profilBox ul li label {
    font-weight: 500;
    color: #828282;
}

.dashboardProfil .profilBox ul li p {
    font-size: 28px;
}